@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'), url(./fonts/static/woff2-subset/Pretendard-Black.subset.woff2) format('woff2'),
    url(./fonts/static/woff-subset/Pretendard-Black.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'), url(./fonts/static/woff2-subset/Pretendard-ExtraBold.subset.woff2) format('woff2'),
    url(./fonts/static/woff-subset/Pretendard-ExtraBold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url(./fonts/static/woff2-subset/Pretendard-Bold.subset.woff2) format('woff2'),
    url(./fonts/static/woff-subset/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'), url(./fonts/static//woff2-subset/Pretendard-SemiBold.subset.woff2) format('woff2'),
    url(./fonts/static/woff-subset/Pretendard-SemiBold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url(./fonts/static//woff2-subset/Pretendard-Medium.subset.woff2) format('woff2'),
    url(./fonts/static/woff-subset/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url(./fonts/static//woff2-subset/Pretendard-Regular.subset.woff2) format('woff2'),
    url(./fonts/static/woff-subset/Pretendard-Regular.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'), url(./fonts/static/woff2-subset/Pretendard-Light.subset.woff2) format('woff2'),
    url(./fonts/static/woff-subset/Pretendard-Light.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'), url(./fonts/static/woff2-subset/Pretendard-ExtraLight.subset.woff2) format('woff2'),
    url(./fonts/static/woff-subset/Pretendard-ExtraLight.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'), url(./fonts/static/woff2-subset/Pretendard-Thin.subset.woff2) format('woff2'),
    url(./fonts/static/woff-subset/Pretendard-Thin.subset.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Pretendard, Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #fff;
  height: 100%;
  padding: 0;
}
.home {
  overflow: hidden;
}
img {
  border-style: none;
  width: 100%;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  margin-block: 0 0;
  margin-inline: 0;
  padding: 0;
  padding-inline-start: 0;
}
.main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

li {
  list-style: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
a {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
